.text-center {
  text-align: center;
  font-size: 72px;
}

// Upload
.avatar-uploader {
  .nft_generator-upload-select-picture-card {
    width: 64px !important;
    height: 64px !important;
  }
}

.nft_generator { 
  &-segmented {
    border-radius: 30px !important;
    &-item {
      &-selected {
        border-radius: 30px !important;
      }
    }
  } 
}


// Input
input {
  border-radius: 10px !important;
}

// Upload 
.nft_generator-upload {
  background: #2F334A !important;
  border-radius: 8px !important;
}

.nft_generator-steps-item-icon {
  background-color: #4e4f5c !important;
}
    